= simple_form_for(@csv_import_line) do |f|
  = f.error_notification

  .form-inputs
    = f.input :article
    = f.input :title
    = f.input :size
    = f.association :csv_import

  .form-actions
    = f.button :submit
