%h1 Создать csv_import

.well.well-sm
  %p
    Загрузите на компьютер и заполните
    = link_to 'файл для импорта', image_url('file_for_import.csv'), class: 'btn btn-default'

= simple_form_for(@csv_import) do |f|
  = f.error_notification
  .form-inputs
    = f.file_field :file
  .form-actions
    = f.button :submit

= link_to 'Отменить', csv_imports_path, class: 'btn btn-default'
