%p#notice= notice

%p
  %b Файл:
  = @csv_import.file

%table.table.table-stripped.table-bordered

  %thead
    %tr
      %th Артикль
      %th Заголовок
      %th Размер

  %tbody
    - @csv_import.csv_import_lines.each do |csv_import_line|
      %tr
        %td= csv_import_line.article
        %td= csv_import_line.title
        %td= csv_import_line.size

%p
  %b Обновленные данные в базе(дата):
  = @csv_import.proccessed_at

  = form_tag process_in_db_csv_imports_path, method: :patch do
    = hidden_field_tag :id, @csv_import.id
    = button_tag "Создать (обновить) записи в бд", class: "btn btn-success btn-lg"

= link_to 'Назад', csv_imports_path, class: 'btn btn-default'
